* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem = 10px */
/* 100% = 16px */
html {
  font-size: 62.5%;
}
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --color-primary: #f53855;
  --color-primary-light: #f53855;
  --color-white: #fff;
  --color-white-light: #f8f8f8;
  --color-white-lighter: #fafafa;
  --color-grey: #737373;
  --color-grey-dark: #4f4f4f;
  --color-black-main: #212529;
  --color-black-light: #343a40;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.header-contact-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.header-contact-item i {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
}
.header-contact-item p {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
  font-weight: 700;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.header-nav-list {
  text-decoration: none;
  display: flex;
  gap: 4rem;
}
.header-nav-list-item a {
  text-decoration: none;
  color: var(--color-black-main);
  font-size: 1.6rem;
  font-weight: 700;
}
.header-cta-btn {
  background-color: var(--color-primary-light);
  text-decoration: none;
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 700;
}
.header-log-link-wrapper {
  text-decoration: none;
  color: var(--color-black-main);
  text-transform: uppercase;
}
.logo {
  font-size: 2rem;
}




@media screen and (max-width: 768px) {
  .header-contact {
    display: none;
  }
  .header-nav-list{
    gap: 2rem;
    flex-direction: column;
  }
  .header-nav{
    position: absolute;
    top: 100%;
  }
  .header-navigation {
    align-items: flex-start;
  }

}