h1 {
    border: 2px solid red;
    /*margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px; */
    /* margin: 50px 100px 50px 100px; */
    /* margin-block-start: auto;
    margin-block-end: auto; */

    padding: 20px 30px 20px 30px;
    padding: val1 val12;
    padding: 30px;
}
h3{
    border: 2px solid green;
}
a {
    display: block;
}
.element {
    width: 200px;
    height: 200px;
    border: 2px solid;
    margin-left: 200px;
    /* transform: translateX(200px) translateY(300px); */
    /* transform: rotate(30deg); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: skewX(30deg); */


    /* css transitions */
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;


}

.element:hover{
    transform: scale(2.3);
    background-color: green;
}
